/* (1536x864) Display -> WIP<- */
@media screen and (min-width:1536px) and (max-height: 864px) {

    /*==========================ai-101 section======================================*/

    .audio-player {
        padding-top: 14%;
    }

    /*=================================article popup===================================*/

    

    .popup-article article { 
        max-height: 79vh; /*mq*/
        }


    .lhs-image-wrapper > img {
        max-width: 320px;
        max-height: 79vh;
        }

    .btm-image-wrapper img{
        padding-left: 10%;
        padding-right: 10%;
    }
    
    /*-------------popup header---------------wip-------- */
        
 .article-header-wrapper > .header-img {
        width: 220px;
        height: 100px;
     }

     .article-audio {
        margin-left: -7%;
       }

       .article-header-wrapper  .listen-in{
        letter-spacing: 2.2px;  /*mq*/
        padding-left: 34%;
        padding-top: 1.5%;
      }

      .cancel {
        margin-top: -0.5%;
        }

    /*---------------podcasts-----------------------------*/
    .top-image-wrapper img {
        height: 28vh;
    }

    .column {
        height: 40vh;
    }

     
    .wave {  
    padding-top: 0.8%; /*mq*/
    }


      /*---------------subscribe-----------------------------*/



.subscribe-form label {
 word-spacing: -1%;
 white-space: nowrap;
}


    
#subscribe-footer {
    margin-top: 10%;
  }



}



