/* e-readers (Nook/Kindle), smaller tablets i.e. 600 x 1024  -> PASS <- */
@media screen and (min-width: 600px) and (min-height: 1024px)  {
/*----------#intro section---------------*/

#intro {
    background-size:contain;
    background-position: 0 480px;   
    position: relative;
    z-index: 1;
  }


  .intro > h1 {
    font-size: calc( 28px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 21px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    line-height:  calc( 28px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    font-weight: 900;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%;
    }

    .line-wrapper-1 .line-1 {
        margin-top: -4%;
        padding-bottom: 0.5%;
        position: relative;
      }	
    
.line-wrapper-2 .line-2 {
    margin-top: -3.5%;
  }	

  
.section-footer { 
    margin-top: -5%;
    position: relative;
    z-index: 10;
  }
  

.spike#spike1 {
    height: 16.4vh;
    margin-top: -10%;
  }

/*------------#ai-101 section------------*/

/*--------#ai-101 header----------*/

.section-heading {
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 25%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 1.3px;
   }

.author{
padding-top: 10%;
}

.audio-player {
    margin-top: 20%;
    margin-left: -35%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 150px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 10%;
        letter-spacing: 2px;
  }

.section-header-wrapper >.header-img {
    display: none;
}

/*--------------------#ai-101 article---------------------------------*/

#ai-101 {
  position: relative;
  z-index: 1;
}

#ai-img-1 {
    position: absolute;
    display: flex;
    width: 96%;
    height: 20vh;
    margin-top: -42%;
  }

  .ai-101-container article {
   display:  block;
   margin-top: 20%;
  }

  .ai-101-a {
    margin-top: 44%;
  }
  
 .ai-101-d {
   margin-top: -5%;
   float: left;
 } 

  #ai-img-2 {
   position: absolute;
   display: flex;
   width: 96%;
   height: 20vh;
   margin-top: 30%;
 }


   #mimic-icon {
    margin-top: 16%;
    margin-left: 6%;
  }
  
  #process-icon {
    margin-top: 20%;
    margin-left: 22%;
  }
  
   #ux-icon {
     margin-top: 2%;
     margin-left: 14%;
   }
  
    #big-data-icon {
      width: 28px;
      margin-top: 1%;
      margin-left: 0%; 
    }
  
    #bus-mgt-icon {
      margin-top: 2.5%;
    }
  
    #op-icon {
      margin-top: 2.5%;
      margin-left: 15%;
    }
   
    #elv-icon {
     margin-top: 2.5%;
     margin-left: 27%;
   }
   
     #growth-icon {
       margin-top: 2.5%;
       margin-left: 41%; 
     }
     


 .form2-wrapper {
    position: relative;
    margin-top: 40%;
    }

 .image-container img {
    display: none;
    }



/*------------#industries------------*/

#header-industries {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-top: 12%;
  margin-left: -55%;
  }


  #industry-icon {
    display: none;
  }

      
  .grid-template-rows-1 , .grid { 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display:grid;
    margin:0 auto;
    padding-top: 9%;
} 
  
.grid-template-rows-1{
    grid-template-rows: 450px 450px;
}


  #adjust-footer {
    margin-top: 50%;
    height: auto;
  }


/*-----------------------pop-up-------------------------------*/


/*-------------------header-----------------------*/


.article-header-wrapper > .header-img {
  display: none;
  }
  
  
  .article-heading {
    grid-column: 1 / 6;
    white-space: nowrap;
  }
  
  .article-header-wrapper > .author-pu{
    grid-column: 1 / 4;
    grid-row: 1;
    display: subgrid;
    margin-top: 10%;
    margin-left: 7%;
  }

   .author-pu > .profile-photo img {
    width: 40px;
    height: 40px;
  }

  
  .article-header-wrapper > .audio {
    grid-column: 4 / 4;
    padding-top: 0%;
    margin-top: -0.5%;
    margin-left: -4%;
  }
  
   
  .article-header-wrapper  .listen-in{
    padding-left: 12%;
    letter-spacing: 0.5px;
  }
  
  .article-audio {
    height: 18px;
    width: 130px;
    border: 1px solid turquoise;
    border-radius:50px;
    }
  
  
    .cancel {
      margin-left: 92%;
      margin-top: -0.5%;
      }
  
  
  
  /*-----------article------------*/
  
  .popup-article { 
      margin-top: -68%;
      height: 96%;
      border: 0px;
    }
    
    .popup-article article {
      padding: .5%;
      margin-bottom: 2%;
      height: 90%; /*mq*/
      border-radius: 0px;
    }
  
    .lhs-image-wrapper > img {
      opacity: .3;
      width: 100%;
      margin-left: -.5%;
      margin-top: -.5%;
      border-radius: 0px;
    }
    
    .article-p1 p { 
      position: relative;
      z-index: 30;
      margin-top: 2%;
      padding-left: 1.5%;
      padding-right: 2.5%;
    }
    
    .quote-wrapper {
      position: relative;
      z-index: 40;
      margin-top: 2%;
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  
    .q-caption {
      text-align: center;
      position: relative;
      z-index: 50;
    }
    
    .q-icon {
      width: 46px;
      align-self: center;
      position: relative;
      z-index: 60;
    }
    
    .article-p2 {
      position: relative;
      padding-left: 1.5%;
      padding-right: 2.5%;
      color: black;
      z-index: 70;
  
    }
    
    .article-p2 h3 {
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 80;
    }
    
    .btm-image-wrapper{
      background: transparent;
      position: relative;
      z-index: 90;
      margin-top: 0%; 
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: 7%;
    }
    
    .popup-footer {
      position: relative;
      width: 100%;  
      background:#0e101f;
      height: 2.5vh;
      z-index: 100;
      display: inline-block;
      margin-top: -20%;
      margin-bottom: 0%;
    }

/*  ==============#podcasts section=====================   */

.podcasts {
  background-image: url("/assets/images/podcasts_img.png");
  background-blend-mode:color-dodge;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size:contain;
  background-position: 0 120px;
}

#header-podcasts {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding-top: 3%;
}

  .top-image-wrapper img {
    display: none;
  }
  
  
  .playlist {
    margin-top: 10%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
    scrollbar-width: auto;
    scroll-behavior: smooth;
    height: auto;
  }
  
  
  iframe {
  background-color: rgba(127, 221, 252, 0.932);
  filter:saturate(25%);
  width: 100%;
  height: 15vh;
  }
  
  
  .column{
    position:relative;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
  }
  
    .column p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      height: 6vh;
    }
  
    .podcasts-container {
      position: absolute;
      margin-top: 15%;
    }
  
    #footer-pd  {
      background-color: transparent;
      position: absolute;
      display: inline-block;
      width: 100%;
      z-index: 10;
      margin-top: 150%;
    }
  
    #wave1 {
      height: 10vh;
      padding-top: 7%;
    }
  
  
   /*#subscribe section*/
  
   .subscribe {
    background-color: rgba(14, 16, 31, 1);
    background-size: contain;
    background-position: 0px 530px;
    background-blend-mode:difference;
    color: rgba(0,0,0,1);
   }

   .subscribe-form {
    position: absolute;
    margin-top: 20%;
    margin-left: 0%;
  }
 
   #header-subscribe {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding-top: 3%;
   }

 .subscribe-form > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc( 32px + (28 - 14) * (100vw - 400px) / (800 - 400) );
  color: white;
}
  
  .subscribe-form p {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20%;
    margin-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
    white-space: pre-line;
    color: white;

  }
    
  
  .subscribe-form form {
    max-width: 220px;
  }
  .subscribe-form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 4vh;
    font-size: 18px;
    width: 100%;
    color: #0e101f;
    margin-left: -7%;
  }
  
  #submit-button {
    position: relative;
    display: flex;
    margin-top: 0;
  }
  
  #checkbox {
    position: relative;
    display: flex;
    width: 25x;
    margin-left: -7%;
  }
  
  .subscribe-form label {
  font-size: calc(10px + (8 - 4) * (100vw - 400px) / (800 - 400) );
  padding-left: 0%;

  }
  
  #subscribe-footer {
    margin-top: 160%;
    height: auto;
  } 
  
  /* #contact section */
  
  .contact {
    background-color: rgba(14, 16, 31, 1);
    background-blend-mode: difference;
    background-size: contain;
    background-position:  0 300px;
  }
    
  #header-contact {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding-top: 3%;
  }

  .contact-container {
    position: absolute;
    margin-top: 56%;
    margin-left: 15%;
  }
  .contact-container form * {
    font-size: 18px;
  }
  
  .contact-container form .field label {
    height: 4vh;
    padding-top: 1.5%;
  }
  
  .contact-container form .field input[type="text"], .field input[type="email"],
  form .field textarea {
    height: 4vh;
    padding-left: 36%;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  
  .contact-container form #msg {
    height: 7vh;
    padding-top: 18px;
  }
  .contact-container form textarea:focus#msg,
  .contact-container form textarea:not(:placeholder-shown)#msg {
    height: 17vh;
  }
  
  .contact-container form input[type="text"]:focus + label,
  .contact-container form input[type="text"]:not(:placeholder-shown) + label,
  .contact-container form input[type="email"]:focus + label,
  .contact-container form input[type="email"]:not(:placeholder-shown) + label,
  .contact-container form textarea:focus + label,
  .contact-container form textarea:not(:placeholder-shown) + label,
  .contact-container form .field:hover label {
    width: 24%;
  }
  
  #send-btn {
    float:right;
    height: 6vh;
    width: 100%;
    font-weight: 400;
  }
  
/*---------->footer<--------------------------- */


.social-icon {
  margin-top: -45%;
  padding: 0%;
}

.footer p {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2%;
}


}

/*=====================================================================================================*/
  
/* 600x800 tablets  -> PASS <- */	
@media screen and (min-width:600px) and (min-height:799px) and (max-height:801px) {


  /*----------#intro section---------------*/

#intro {
    background-size:contain;
    background-position: 0 360px;   
    position: relative;
    z-index: 1;
  }


  .intro > h1 {
    font-size: calc( 28px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 21px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    line-height:  calc( 28px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    font-weight: 900;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%;

    }

    .line-wrapper-1 .line-1 {
        margin-top: -4%;
        padding-bottom: 0.5%;
      }	
    
.line-wrapper-2 .line-2 {
    margin-top: -12%;
  }	

  
.section-footer { 
    margin-top: -5%;
  }
  

.spike#spike1 {
    height: 27vh;
    margin-top: 0%;
  }

/*------------#ai-101 section------------*/

.section-heading {
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 25%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 1.3px;
   }

.author{
padding-top: 10%;
}

.audio-player {
    margin-top: 20%;
    margin-left: -35%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 150px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 10%;
        letter-spacing: 2px;
  }

.section-header-wrapper >.header-img {
    display: none;
}

/*--------------------#ai-101 article---------------------------------*/

#ai-101 {
  position: relative;
  z-index: 1;
}

#ai-img-1 {
    position: absolute;
    display: flex;
    width: 96%;
    height: 16vh;
    margin-top: -22.5%;
  }

  .ai-101-container article {
   display:  block;
   margin-top: 20%;
  }

  .ai-101-a {
    margin-top: 24%;
  }
  
 .ai-101-d {
   margin-top: -5%;
   float: left;
 } 

  #ai-img-2 {
   position: absolute;
   display: flex;
   width: 96%;
   height: 16vh;
   margin-top: 24%;
 }


   #mimic-icon {
    margin-top: 16%;
    margin-left: 6%;
  }
  
  #process-icon {
    margin-top: 20%;
    margin-left: 22%;
  }
  
   #ux-icon {
     margin-top: 2%;
     margin-left: 14%;
   }
  
    #big-data-icon {
      width: 28px;
      margin-top: 1%;
      margin-left: 0%; 
    }
  
    #bus-mgt-icon {
      margin-top: 2.5%;
    }
  
    #op-icon {
      margin-top: 2.5%;
      margin-left: 15%;
    }
   
    #elv-icon {
     margin-top: 2.5%;
     margin-left: 27%;
   }
   
     #growth-icon {
       margin-top: 2.5%;
       margin-left: 41%; 
     }
     


 .form2-wrapper {
    position: relative;
    margin-top: 22%;
    }

 .image-container img {
    display: none;
    }
  
/*------------#industries------------*/

#header-industries {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-top: 12%;
  margin-left: -55%;
  }


  #industry-icon {
    display: none;
  }
   

  .grid-template-rows-1 , .grid { 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display:grid;
    margin:0 auto;
    padding-top: 8%;
    }
    
    .grid-template-rows-1{
    grid-template-rows: 350px 350px;
    }
    
  #adjust-footer {
    margin-top: 38.5%;
    height: auto;
  }


/*-----------------------pop-up-------------------------------*/


/*-------------------header-----------------------*/


.article-header-wrapper > .header-img {
  display: none;
  }
  
  
  .article-heading {
    grid-column: 1 / 6;
    white-space: nowrap;
  }
  
  .article-header-wrapper > .author-pu{
    grid-column: 1 / 4;
    grid-row: 1;
    display: subgrid;
    margin-top: 10%;
    margin-left: 7%;
  }

   .author-pu > .profile-photo img {
    width: 40px;
    height: 40px;
  }

  .article-header-wrapper > .audio {
    grid-column: 4 / 4;
    padding-top: 0%;
    margin-top: -0.5%;
    margin-left: -4%;
  }
  
   
  .article-header-wrapper  .listen-in{
    padding-left: 12%;
    letter-spacing: 0.5px;
  }
  
  .article-audio {
    height: 18px;
    width: 130px;
    border: 1px solid turquoise;
    border-radius:50px;
    }
  
  
    .cancel {
      margin-left: 92%;
      margin-top: -0.5%;
      }
  
  
  
  /*-----------article------------*/
  
  .popup-article { 
      margin-top: -68%;
      height: 96%;
      border: 0px;
    }
    
    .popup-article article {
      padding: .5%;
      margin-bottom: 2%;
      height: 90%; /*mq*/
      border-radius: 0px;
    }
  
    .lhs-image-wrapper > img {
      opacity: .3;
      width: 100%;
      height: 100vh;
      margin-left: -.5%;
      margin-top: -.5%;
      border-radius: 0px;
    }
    
    .article-p1 p { 
      position: relative;
      z-index: 30;
      margin-top: 2%;
      padding-left: 1.5%;
      padding-right: 2.5%;
    }
    
    .quote-wrapper {
      position: relative;
      z-index: 40;
      margin-top: 2%;
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  
    .q-caption {
      text-align: center;
      position: relative;
      z-index: 50;
    }
    
    .q-icon {
      width: 46px;
      align-self: center;
      position: relative;
      z-index: 60;
    }
    
    .article-p2 {
      position: relative;
      padding-left: 1.5%;
      padding-right: 2.5%;
      color: black;
      z-index: 70;
  
    }
    
    .article-p2 h3 {
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 80;
    }
    
    .btm-image-wrapper{
      background: transparent;
      position: relative;
      z-index: 90;
      margin-top: 0%; 
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: 7%;
    }
    
    .popup-footer {
      position: relative;
      width: 100%;  
      background:#0e101f;
      height: 5vh;
      z-index: 100;
      display: inline-block;
      margin-top: -20%;
      margin-bottom: 0%;
    }



/*  ==============#podcasts section=====================   */

.podcasts {
  background-image: url("/assets/images/podcasts_img.png");
  background-blend-mode:color-dodge;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size:contain;
  background-position: 0 120px;
}

#header-podcasts {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding-top: 2%;
}

  .top-image-wrapper img {
    display: none;
  }
  
  
  .playlist {
    margin-top: 10%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
    scrollbar-width: auto;
    scroll-behavior: smooth;
    height: auto;
  }
  
  
  iframe {
  background-color: rgba(127, 221, 252, 0.932);
  filter:saturate(25%);
  width: 100%;
  height: 15vh;
  }
  
  
  .column{
    position:relative;
    height: 15vh;
    width: 100%;
    margin: 0 auto;
  }
  
    .column p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      height: auto;
    }
  
    .podcasts-container {
      position: absolute;
      margin-top: 15%;
    }
  
    #footer-pd  {
      background-color: transparent;
      position: absolute;
      display: inline-block;
      width: 100%;
      z-index: 10;
      margin-top: 120%;
    }
  
    #wave1 {
      height: 5vh;
      padding-top: 2%;
    }
  
  
   /*#subscribe section*/
  
   .subscribe {
    background-color: rgba(14, 16, 31, 1);
    background-size: contain;
    background-position: 0px 350px;
    background-blend-mode:difference;
    color: rgba(0,0,0,1);
   }

   .subscribe-form {
    position: absolute;
    margin-top: -11%;
    margin-left: 4%;
  }
 
  #header-subscribe {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding-top: 2%;
  }

 .subscribe-form > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc( 32px + (28 - 14) * (100vw - 400px) / (800 - 400) );
  color: white;
  margin-top: 20%;
}
  
  .subscribe-form p {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
    white-space: pre-line;
    color: white;

  }
    
  
  .subscribe-form form {
    max-width: 220px;
  }
  .subscribe-form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 4vh;
    font-size: 18px;
    width: 100%;
    color: #0e101f;
    margin-left: -7%;
  }
  
  #submit-button {
    position: relative;
    display: flex;
    margin-top: 0;
  }
  
  #checkbox {
    position: relative;
    display: flex;
    width: 25x;
    margin-left: -7%;
  }
  
  .subscribe-form label {
  font-size: calc(10px + (8 - 4) * (100vw - 400px) / (800 - 400) );
  padding-left: 0%;
  }
  
  #subscribe-footer {
    margin-top: 125.5%;
    height: auto;
  } 
  
  /* #contact section */
  
  .contact {
    background-color: rgba(14, 16, 31, 1);
    background-blend-mode: difference;
    background-size: contain;
    background-position:  0 190px;
  }
    
  #header-contact {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding-top: 2%;
  }

  .contact-container {
    position: absolute;
    margin-top: 40%;
    margin-left: 15%;
  }
  .contact-container form * {
    font-size: 18px;
  }
  
  .contact-container form .field label {
    height: 4vh;
    padding-top: 1.5%;
  }
  
  .contact-container form .field input[type="text"], .field input[type="email"],
  form .field textarea {
    height: 4vh;
    padding-left: 36%;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  
  .contact-container form #msg {
    height: 4vh;
    padding-top: 18px;
  }
  .contact-container form textarea:focus#msg,
  .contact-container form textarea:not(:placeholder-shown)#msg {
    height: 17vh;
  }
  
  .contact-container form input[type="text"]:focus + label,
  .contact-container form input[type="text"]:not(:placeholder-shown) + label,
  .contact-container form input[type="email"]:focus + label,
  .contact-container form input[type="email"]:not(:placeholder-shown) + label,
  .contact-container form textarea:focus + label,
  .contact-container form textarea:not(:placeholder-shown) + label,
  .contact-container form .field:hover label {
    width: 24%;
  }
  
  #send-btn {
    float:right;
    height: 6vh;
    width: 100%;
    font-weight: 400;
  }
  
/*---------->footer<--------------------------- */

.social-icon {
  margin-top: -45%;
  padding: 0%;
}

.footer p {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2%;
}
}


/*=====================================================================================================*/
  /* iPad Portrait 768 x 1024  -> clone <- */
  @media screen and (min-width: 767px) and (max-width: 768px) and (min-height: 1024px)  {

    /*-----------#intro section----------------*/

    .nav > .nav-btn > label {
      margin-left: 50%;
      margin-top: 5%;
    }

    .line-wrapper-2 .line-2 {
      margin-top: -9%;
    }	

    .spike#spike1 {
      height: 11vh;
      margin-top: 0%;
    }

      
    .section-footer { 
     margin-top: 1%;
     position: relative;
     z-index: 10;
    }

    
/*------------#ai-101 section------------*/

/*------#ai-101 header -----------*/

#ai-101-listen{
  padding-left: 8%;
  letter-spacing: 1.5px;
}


/*------#ai-101 article------------*/

#ai-img-1 {
    margin-top: -30.5%;
  }

  .ai-101-a {
    margin-top: 32%;
  }
  
 .ai-101-d {
   margin-top: -7%;
 } 

  #ai-img-2 {
   margin-top: 22.5%;
 }

  
    #op-icon {
      margin-left: 12%;
    }
   
    #elv-icon {
     margin-left: 24%;
   }
   
    #growth-icon {
    margin-left: 37%; 
  }
     


 .form2-wrapper {
    position: relative;
    margin-top: 24%;
    }



/*------------#industries------------*/
  
.grid-template-rows-1{
    grid-template-rows: 420px 420px;
}

  #adjust-footer {
    margin-top: 36%;
    height: auto;
  }

/*-----------------------pop-up-------------------------------*/

/*-------------------header-----------------------*/
.article-header-wrapper {
  height: 7.5vh;
}
  
  .article-header-wrapper > .author-pu{
    margin-top: 5.5%;
    margin-left: 5%;
  }

  .popup-footer {
    height: 5vh;
    margin-top: -2%;
    margin-bottom: 0%;
  }

/*==============#podcasts section====================*/

.podcasts {
  background-position: 0 180px;
}

#header-podcasts {
  padding-top: 2%;
}


    #footer-pd  {
      margin-top: 117%;
    }
  
    #wave1 {
      height: 10vh;
      padding-top: 5%;
    }
  

  
   /*-------#subscribe section-----------*/
  
   .subscribe {
    background-position: 0px 250px;
   }
   
   .subscribe-form {
    margin-top: 15%;
    margin-left: 5%;
  }
 
   #header-subscribe {
    padding-top: 2.5%;
   }

  
  .subscribe-form p {
    padding: 0%;
    white-space: nowrap;
  }
    
  
  .subscribe-form form {
    max-width: 300px;
  }


  #checkbox {
    width: 50px;
    margin-left: -10%;
    margin-top: 0.5%;
  }
  
  .subscribe-form label {
  background-color: #fff;
  }
  
  #subscribe-footer {
    margin-top: 125%;
  } 

 
  /* #contact section */
  
  .contact {
    background-position:  0 245px;
  }
    
  #header-contact {
    height: 5vh;
    width: 100%;
    margin: 0;
    padding-top: 2%;
  }

  .contact-container {
    position: absolute;
    margin-top: 38%;
    margin-left: 15%;
  }
  .contact-container form * {
    font-size: 18px;
  }
  
  .contact-container form .field label {
    height: 4vh;
    padding-top: 1.5%;
  }
  
  .contact-container form .field input[type="text"], .field input[type="email"],
  form .field textarea {
    height: 4vh;
    padding-left: 36%;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  
  .contact-container form #msg {
    height: 7vh;
    padding-top: 18px;
  }
  .contact-container form textarea:focus#msg,
  .contact-container form textarea:not(:placeholder-shown)#msg {
    height: 17vh;
  }
  
  .contact-container form input[type="text"]:focus + label,
  .contact-container form input[type="text"]:not(:placeholder-shown) + label,
  .contact-container form input[type="email"]:focus + label,
  .contact-container form input[type="email"]:not(:placeholder-shown) + label,
  .contact-container form textarea:focus + label,
  .contact-container form textarea:not(:placeholder-shown) + label,
  .contact-container form .field:hover label {
    width: 24%;
  }
  
  #send-btn {
    float:right;
    height: 6vh;
    width: 100%;
    font-weight: 400;
  }
  
/*---------->footer<--------------------------- */


.social-icon {
  margin-top: -45%;
  padding: 0%;
}

.footer p {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2%;
}

}

/*=====================================================================================================*/

/*  tablets, iPad, e-readers, 800x480 or 854x480 phones -> PASS <- */	
@media screen and (min-width:799px) and (max-width: 855px) and (min-height:480px) {


  /*----------#intro section---------------*/

  .nav > .nav-btn > label {
    margin-left: 70%;
    margin-top: 10%;
  }

  #intro {
    background-size:cover;
    background-position: 0px 20px;   
    position: relative;
    z-index: 1;
  }


  .intro > h1 {
    font-size: calc( 28px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 21px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    line-height:  calc( 28px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    font-weight: 900;
    padding-top: 5%;
    padding-bottom: 5%;
    }

    .line-wrapper-1 .line-1 {
        margin-top: -2.5%;
        padding-bottom: 0.5%;
      }	
    
.line-wrapper-2 .line-2 {
    margin-top: -7%;
  }	

.section-footer { 
    margin-top: -7%;
  }

.spike#spike1 {
    height: 24vh;
    margin-top: 0%;
  }

/*------------#ai-101 section------------*/
/*------------header------------*/
.section-heading {
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 20%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 0.5px;
   }

.author{
padding-top: 5.5%;
padding-left: 1%;
}

.audio-player {
    margin-top: 8.65%;
    margin-left: -32%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 200px;
    height: 20px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 5%;
        letter-spacing: 4px;
  }

.section-header-wrapper >.header-img {
    display: none;
}

/*--------------------#ai-101 article-------------------*/

#ai-img-1 {
  display: none;
  }

  .ai-101-a {
    margin-top: .5%;
  }
  
 .ai-101-d {
   margin-top: -12%;
   float: left;
 } 

  #ai-img-2 {
  display: none;
 }
  #ml-icon {
    width: 60px;
  }

   #mimic-icon {
    width: 50px;
    margin-top: 10%;
    margin-left: 8%;
  }
  
  #process-icon {
    margin-top: 14%;
    margin-left: 18%;
  }
  
   #ux-icon {
     width: 35px;
     margin-top: 1.5%;
     margin-left: 13%;
   }
  
    #big-data-icon {
      width: 28px;
      margin-top: 1%;
      margin-left: 0%; 
    }
  
    #bus-mgt-icon {
      margin-top: 1.5%;
    }
  
    #op-icon {
      margin-top: 1.5%;
      margin-left: 12%;
    }
   
    #elv-icon {
     margin-top: 1.5%;
     margin-left: 23%;
   }
   
     #growth-icon {
       margin-top: 1.5%;
       margin-left: 34%; 
     }
    

 .image-container img {
    display: none;
    }

    .form2-wrapper {
      position: relative;
      margin-top: -11.5%;
      }
  


/*------------#industries------------*/

#header-industries {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-top: 14.5%;
  margin-left: -55%;
  }


  #industry-icon {
    display: none;
  }
   

  .grid-template-rows-1 , .grid { 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display:grid;
    margin:0 auto;
    padding-top: 8%;
    }
    
    .grid-template-rows-1{
    grid-template-rows: 180px 180px;
    }

    
  #adjust-footer {
    margin-top: 14.5%;
  }

/*-----------------------pop-up-------------------------------*/


/*-------------------header-----------------------*/

.article-header-wrapper {
  height: 14vh;
}

.article-header-wrapper > .header-img {
  display: none;
  }
  
  
  .article-heading {
    grid-column: 1 / 6;
    white-space: nowrap;
  }

  
.article-heading > h2{
  padding-top: 4%;
  }
  
  .article-header-wrapper > .author-pu{
    grid-column: 1 / 4;
    grid-row: 1;
    display: subgrid;
    margin-top: 0%;
    margin-left: 7%;
  }

   .author-pu > .profile-photo img {
    width: 40px;
    height: 40px;
  }

  .article-header-wrapper > .audio {
    grid-column: 4 / 4;
    padding-top: 0%;
    margin-top: -1.5%;
    margin-left: -10%;
  }
  
   
  .article-header-wrapper  .listen-in{
    padding-left: 12%;
    letter-spacing: 0.5px;
  }
  
  .article-audio {
    height: 60px;
    width: 130px;
    border: 1px solid turquoise;
    border-radius:50px;
    }
  
  
    .cancel {
      margin-left: 95%;
      margin-top: -2%;
      }
  
  
  /*-----------article------------*/
  
  .popup-article { 
      margin-top: -36%;
      height: 95.5%;
      border: 0px;
    }
    
    .popup-article article {
      padding: .5%;
      margin-bottom: 2%;
      height: 82%; /*mq*/
      border-radius: 0px;
    }
  
    .lhs-image-wrapper > img {
      opacity: .3;
      width: 100%;
      height: 100vh;
      margin-left: -.5%;
      margin-top: -.5%;
      border-radius: 0px;
    }
    
    .article-p1 p { 
      position: relative;
      z-index: 30;
      margin-top: 2%;
      padding-left: 1.5%;
      padding-right: 2.5%;
    }
    
    .quote-wrapper {
      position: relative;
      z-index: 40;
      margin-top: 2%;
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  
    .q-caption {
      text-align: center;
      position: relative;
      z-index: 50;
    }
    
    .q-icon {
      width: 46px;
      align-self: center;
      position: relative;
      z-index: 60;
    }
    
    .article-p2 {
      position: relative;
      padding-left: 1.5%;
      padding-right: 2.5%;
      color: black;
      z-index: 70;
  
    }
    
    .article-p2 h3 {
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 80;
    }
    
    .btm-image-wrapper{
      background: transparent;
      position: relative;
      z-index: 90;
      margin-top: 0%; 
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: 7%;
    }
    
    .btm-image-wrapper img{
      height: 42vh;
      }


    .popup-footer {
      position: relative;
      width: 100%;  
      background:#0e101f;
      height: 2.5vh;
      display: inline-block;
      margin-top: -20%;
      margin-bottom: 1.5%;
    }


/*  ==============#podcasts section=====================   */

.podcasts {
  background-image: url("/assets/images/podcasts_img.png");
  background-blend-mode:color-dodge;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size:contain;
  background-position: 0 180px;
}

#header-podcasts {
  height: 5vh;
  width: 100%;
  margin: 0;
  padding-top: 2%;
}

#header-podcasts h2 {
  background-color: rgba(0,0,0,0.5);
}

  .top-image-wrapper img {
    display: none;
  }
  
  
  .playlist {
    margin-top: 0%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
    scrollbar-width: auto;
    scroll-behavior: smooth;
    height: 50vh;
  }
  
  
  iframe {
  background-color: rgba(127, 221, 252, 0.932);
  filter:saturate(25%);
  width: 100%;
  height: 15vh;
  }
  
  
  .column{
    position:relative;
    height: 15vh;
    width: 100%;
    margin: 0 auto;
  }
  
    .column p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      height: auto;
    }
  
    .podcasts-container {
      position: absolute;
      margin-top: 15%;
    }
  
    #footer-pd  {
      background-color: transparent;
      position: absolute;
      display: inline-block;
      width: 100%;
      z-index: 10;
      margin-top: 47%;
    }
  
    #wave1 {
      height: 10vh;
      padding-top: 2%;
    }

    
  
   /*-------#subscribe section-----------*/
  
   .subscribe {
    background-size: cover;
    background-position: -400px -120px;
   }
 
   #header-subscribe {
    padding-top: 4.2%;
    width: 100%;
    margin: 0;
   }

   .subscribe-form {
    margin-top: 1%;
    margin-left: -35%;
  }

  
  .subscribe-form p {
    padding: 0%;
    white-space: nowrap;
  }
    
  
  .subscribe-form form {
    width: 400px;
  }


  #checkbox {
    width: 20px;
    margin-left: 1%;
    margin-top: 0%;
    float: left;
    position: relative;
    z-index: 10;
  }
  
  .subscribe-form label {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  font-size: 11px;
  font-weight: 600;
  word-spacing: -2.8px;
  white-space: nowrap;
  margin-left: 0%;
  margin-top: -6%;
  width: 100%;
  padding-left: 8%;
  float: right;
  }

  
  #subscribe-footer {
    margin-top: 4%;
    background-color: rgba(0, 0, 0, 0.5);
  } 

 
  /*-------#contact section-----*/
  
  .contact {
    background-position:  0 20px;
  }
    
  #header-contact {
    height: 10vh;
    width: 100%;
    margin: 0;
    padding-top: 2%;
  }

  .contact-container {
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
  }
  .contact-container form * {
    font-size: 18px;
  }
  
  .contact-container form .field label {
    height: 8vh;
    padding-top: 2%;
  }
  
  .contact-container form .field input[type="text"], .field input[type="email"],
  form .field textarea {
    height: 8vh;
    padding-left: 36%;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  
  .contact-container form #msg {
    height: 8vh;
    padding-top: 18px;
  }
  .contact-container form textarea:focus#msg,
  .contact-container form textarea:not(:placeholder-shown)#msg {
    height: 36vh;
  }
  
  .contact-container form input[type="text"]:focus + label,
  .contact-container form input[type="text"]:not(:placeholder-shown) + label,
  .contact-container form input[type="email"]:focus + label,
  .contact-container form input[type="email"]:not(:placeholder-shown) + label,
  .contact-container form textarea:focus + label,
  .contact-container form textarea:not(:placeholder-shown) + label,
  .contact-container form .field:hover label {
    width: 24%;
  }
  
  #send-btn {
    float:right;
    height: 6vh;
    width: 100%;
    font-weight: 400;
    padding:0%;
  }
  
/*---------->footer<--------------------------- */


.social-icon {
  margin-top: -8%;
  padding: 0%;
}

.footer p {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: .5%;
}

}

/*=====================================================================================================*/

/* 800x600 tablets  -> PASS <- */	
@media screen and (min-width:798px) and (max-width: 801px) and (min-height: 599px) and (max-height:601px) {

/*------------#intro section-----------*/
  
  #intro {
    background-position: 0px 180px;   
  }

  .intro > h1 {
    padding-top: 10%;
    }

    .line-wrapper-1 .line-1 {
        margin-top: 0%;
        padding-bottom: 0.5%;
      }	
    
.line-wrapper-2 .line-2 {
  height: 58vh;
  margin-top: -6%;
  }	

  .section-footer { 
    margin-top: -10%;
  }

.spike#spike1 {
    height: 18vh;
  }

/*------------#ai-101 section------------*/
/*------------header------------*/
.section-heading {
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 20%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 0.5px;
   }

.author{
padding-top: 5.5%;
padding-left: 1%;
}

.audio-player {
    margin-top: 8.65%;
    margin-left: -32%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 200px;
    height: 20px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 5%;
        letter-spacing: 4px;
  }

.section-header-wrapper >.header-img {
    display: none;
}

/*--------------------#ai-101 section-------------------*/

/*----header----*/

#ai-101-listen{
  padding-left: 8%;
  letter-spacing: 3.5px;
}


/*----article----*/

  .ai-101-a {
    margin-top: 8%;
  }

 .form2-wrapper {
  margin-top: -4%;
}
  

/*------------#industries------------*/

#header-industries {
  margin-top: 13.5%;
  }

.grid-template-rows-1{
  grid-template-rows: 230px 230px;
  }
    
#adjust-footer {
  margin-top: 18.5%;
  }

/*-----------------------pop-up-------------------------------*/
/*-------------------header-----------------------*/

.article-header-wrapper {
  height: 10vh;
}

  
.article-header-wrapper > .author-pu{
  margin-left: 2%;
}

.article-header-wrapper > .audio {
  margin-top: -5%;
  margin-left: -8%;
}
  
   
.article-header-wrapper .listen-in{
  padding-left: 12%;
  letter-spacing: 0.2px;
}
  

.cancel {
  font-size: 30px;
  margin-left: 94.5%;
  margin-top: -1%;
}


  /*-----------article------------*/
  
  .popup-article article {
    height: 87%;
  }

  
/*  ==============#podcasts section=====================   */

.podcasts {
  background-position: 0 180px;
}

.podcasts-container {
  margin-top: 20%;
}
  
#footer-pd  {
  margin-top: 64.5%;
}
  
#wave1 {
  padding-top: 3%;
}
  


  
   /*-------#subscribe section-----------*/
  
   .subscribe {
    background-position: -335px -60px;
   }
 
   #header-subscribe {
    padding-top: 5.5%;
   }

   .subscribe-form {
    margin-top: 5%;
  }
  
  #subscribe-footer {
    margin-top: 17%;
  } 


  
  /*-------#contact section-----*/
  
  .contact {
    background-position:  0 80px;
  }
    
  #header-contact {
    padding-top: 4%;
  }

  .contact-container {
    margin-top: 15%;
  }

}
/*====================================================================================================*/

  /* iPad Landscape 1024x768  -> clone <- */
  @media screen and (min-width: 1023px) and (max-width: 1025px) and (max-height: 768px)  {

    
    /*-----------#intro section----------------*/

    #intro {
      background-position: 0 180px;
    }
  
    .nav > .nav-btn > label {
      margin-left: 148%;
      margin-top: 10%;
    }

    .intro > h1 {
      font-size: calc( 32px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
      letter-spacing: calc( 32px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
      line-height:  calc( 32px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
      font-weight: 900;
      padding-top: 8%;
      padding-bottom: 5%;
      padding-left: 4%;
      padding-right: 0%;
      }

    .line-wrapper-2 .line-2 {
      margin-top: -9%;
    }	

    .spike#spike1 {
      height: 20vh;
      margin-top: 0%;
    }

    .section-footer { 
     margin-top: 1%;
     position: relative;
     z-index: 10;
    }


    /*------------#ai-101 section------------*/

/*--------#ai-101 header----------*/

.section-heading {  
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 20%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 0.5px;
   }

.author{
padding-top: 5%;
padding-left: 15%;
}

.audio-player {
    margin-top: 10%;
    margin-left: -30%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 150px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 10%;
        margin-top: -2%;
        letter-spacing: 1.5px;
  }

.section-header-wrapper >.header-img {
    display: none;
}

/*--------------------#ai-101 article--------------------------*/

#ai-img-1 {
    position: absolute;
    display: flex;
    width: 96%;
    height: 15vh;
    margin-top: -14%;
  }

  .ai-101-container article {
   display:  block;
   margin-top: 20%;
  }

  .ai-101-a {
    margin-top: -6%;
  }
  
 .ai-101-d {
   margin-top: -15%;
   float: left;
 } 

  #ai-img-2 {
   position: absolute;
   display: flex;
   width: 96%;
   height: 15vh;
   margin-top: 12%;
 }


   #mimic-icon {
    margin-top: 10%;
    margin-left: 8%;
    width: 54px;
  }
  
  #process-icon {
    margin-top: 10%;
    margin-left: 18%;
  }
  
   #ux-icon {
     margin-top: 1%;
     margin-left: 13%;
   }
  
    #big-data-icon {
      width: 32px;
      margin-top: 1%;
      margin-left: 0%; 
    }
  
    #bus-mgt-icon {
      margin-top: 1.5%;
    }
  
    #op-icon {
      margin-top: 1.5%;
      margin-left: 10%;
    }
   
    #elv-icon {
     margin-top: 1.5%;
     margin-left: 20%;
   }
   
  #growth-icon {
    margin-top: 1.5%;
    margin-left: 30%; 
  }

 .form2-wrapper {
    position: relative;
    margin-top: .8%;
    height: 11vh;
    }

 .image-container img {
    display: none;
    }


  
/*------------#industries------------*/

#header-industries {
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-top: 13.5%;
  margin-left: -55%;
  }


  #industry-icon {
    display: none;
  }

      
  .grid-template-rows-1 , .grid { 
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display:grid;
    margin:0 auto;
    padding-top: 9%;
} 
  
.grid-template-rows-1{
    grid-template-rows: 280px 280px;
}


  #adjust-footer {
    margin-top: 18%;
    height: auto;
  }

  /*-----------------------pop-up-------------------------------*/

/*-------------------header-----------------------*/

.article-header-wrapper {
  height: 10vh;
}

.article-header-wrapper > .header-img {
  display: none;
  }
  
  .article-heading {
    grid-column: 1 / 6;
    white-space: nowrap;
  }
  
  .article-header-wrapper > .author-pu{
    grid-column: 1 / 4;
    grid-row: 1;
    display: subgrid;
    margin-top: 0%;
    margin-left: 9%;
  }

   .author-pu > .profile-photo img {
    width: 40px;
    height: 40px;
  }
  
  .article-header-wrapper > .audio {
    grid-column: 4 / 4;
    padding-top: 0%;
    margin-top: -5%;
    margin-left: -7%;
  }
  
   
  .article-header-wrapper  .listen-in{
    padding-left: 12%;
    letter-spacing: -0.1px;
  }
  
  .article-audio {
    height: 18px;
    width: 130px;
    border: 1px solid turquoise;
    border-radius:50px;
    }
  
  
    .cancel {
      margin-left: 95%;
      margin-top: -1%;
      font-size: 30px;
      }
  
  
  
  /*-----------article------------*/
  
  .popup-article { 
      margin-top: -47%;
      height: 92%;
      border: 0px;
    }
    
    .popup-article article {
      padding: .5%;
      margin-bottom: 2%;
      height: 86%;
      border-radius: 0px;
    }
  
    .lhs-image-wrapper > img {
      opacity: .3;
      width: 100%;
      margin-left: -.5%;
      margin-top: -.5%;
      border-radius: 0px;
    }
    
    .article-p1 p { 
      position: relative;
      z-index: 30;
      margin-top: 2%;
      padding-left: 1.5%;
      padding-right: 2.5%;
    }
    
    .quote-wrapper {
      position: relative;
      z-index: 40;
      margin-top: 2%;
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  
    .q-caption {
      text-align: center;
      position: relative;
      z-index: 50;
    }
    
    .q-icon {
      width: 46px;
      align-self: center;
      position: relative;
      z-index: 60;
    }
    
    .article-p2 {
      position: relative;
      padding-left: 1.5%;
      padding-right: 2.5%;
      color: black;
      z-index: 70;
  
    }
    
    .article-p2 h3 {
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 80;
    }
    
    .btm-image-wrapper{
      background: transparent;
      position: relative;
      z-index: 90;
      margin-top: 0%; 
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: 7%;
    }

    .btm-image-wrapper img{
      height: 38vh;
      }
      
    
    .popup-footer {
      position: relative;
      width: 100%;  
      background:#0e101f;
      height: 5vh;
      z-index: 100;
      display: inline-block;
      margin-top: -5%;
      margin-bottom: 0%;
    }

/*  ==============#podcasts section=====================   */

.podcasts {
  background-image: url("/assets/images/podcasts_img.png");
  background-blend-mode:color-dodge;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size:contain;
  background-position: 0 -10px;
}

#header-podcasts {
  height: 10vh;
  width: 100%;
  margin: 0;
  padding-top: 3%;
}

  .top-image-wrapper img {
    display: none;
  }
  
  
  .playlist {
    margin-top: 10%;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8);
    scrollbar-width: auto;
    scroll-behavior: smooth;
    height: 48vh;
  }
  
  
  iframe {
  background-color: rgba(127, 221, 252, 0.932);
  filter:saturate(25%);
  width: 100%;
  height: 15vh;
  }
  
  
  .column{
    position:relative;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
  }
  
    .column p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      height: 6vh;
    }
  
    .podcasts-container {
      position: absolute;
      margin-top: 15%;
    }
  
    #footer-pd  {
      background-color: transparent;
      position: absolute;
      display: inline-block;
      width: 100%;
      z-index: 10;
      margin-top: 63%;
    }
  
    #wave1 {
      height: 10vh;
      padding-top: 3%;
    }
  
  
  
   /*-------#subscribe section-----------*/
  
   .subscribe {
    background-position: -485px -60px;
   }
 
   #header-subscribe {
    padding-top: 5.5%;
    width: 100%;
    margin: 0%;
   }

   .subscribe-form {
    margin-top: 20%;
    margin-left: -18%;
  }
  
  #subscribe-footer {
    margin-top: 21.5%;
    background-color: rgba(0, 0, 0, 0.5);
  } 

    /*-------#contact section-----*/
  
    .contact {
      background-position:  0 130px;
    }
      
    #header-contact {
      padding-top: 5.5%;
      width: 100%;
      margin: 0%;
    }
  
    .contact-container {
      position: absolute;
      margin-top: 22%;
      margin-left: 15%;
    }

  /*---------->footer<--------------------------- */


.social-icon {
  margin-top:  -4%;
  padding: 0%;
}

.footer p {
  color: #fff;
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1%;
}


  }

  /*=======================================================================================================*/ 

  /* iPad Portrait 1024x1366  -> WIP <- */
  @media screen and (min-width: 1024px) and (min-height: 1366px)  {

   
    /*-----------#intro section----------------*/

    #intro {
      background-position: 0 235px;
    }
  
    .nav > .nav-btn > label {
      margin-left: 148%;
      margin-top: 10%;
    }

    .intro > h1 {
      font-size: calc( 32px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
      letter-spacing: calc( 32px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
      line-height:  calc( 32px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
      font-weight: 900;
      padding-top: 9%;
      padding-bottom: 10%;
      padding-left: 4%;
      padding-right: 0%;
      }

      .line-wrapper-1 .line-1 {
        margin-top: -4.8%;
      }	

    .line-wrapper-2 .line-2 {
      margin-top: 3.5%;
    }	

    .spike#spike1 {
      height: 30vh;
      margin-top: -45%;
    }

    .section-footer { 
     margin-top: -6%;
     position: relative;
     z-index: 10;
    }

    
    /*------------#ai-101 section------------*/

/*--------#ai-101 header----------*/

.section-heading {  
  margin-left: 43%;
}

.section-heading > h1 {
  margin-top: 20%;
  padding: 0%;
}

.read {
  float: left;
  padding-left: 0.5%;
  letter-spacing: 0.5px;
   }

.author{
padding-top: 5%;
padding-left: 15%;
}

.audio-player {
    margin-top: 6.5%;
    margin-left: -30%;
  }

.audio {
    grid-column: 4 / 4;
    grid-row: 1;
   }
 
#ai-101-audio {
    width: 150px;
    border: 2px solid turquoise;
    border-radius:50px;
}

#ai-101-listen{
        padding-left: 10%;
        margin-top: -2%;
        letter-spacing: 1.5px;
  }

.section-header-wrapper >.header-img {
    display: none;
}


/*------#ai-101 article------------*/

#ai-img-1 {
  margin-top: -38%;
}

.ai-101-a {
  margin-top: 40%;
}

.ai-101-d {
 margin-top: -13%;
} 

#ai-img-2 {
 margin-top: 22.5%;
}

#mimic-icon {
  margin-top: 11%;
  margin-left: 6%;
}

#process-icon {
  margin-top: 12%;
  margin-left: 18%;
}

 #ux-icon {
  width: 30px;
   margin-top: 2%;
   margin-left: 13%;

 }

  #big-data-icon {
    width: 28px;
    margin-top: 1%;
    margin-left: 0%; 
  }

  #bus-mgt-icon {
    margin-top: 1.5%;
  }

  #op-icon {
    margin-top: 1.5%;
    margin-left: 10%;
  }
 
  #elv-icon {
   margin-top: 1.5%;
   margin-left: 19%;
 }
 
  #growth-icon {
  margin-top: 1.5%;
  margin-left: 29%; 
   }

.form2-wrapper {
  position: relative;
  margin-top: 25%;
  height: 10vh;
  }




  }

  /*=========================================================wip===========================================*/

