/* smartphones, iPhone, landscape 480x320 phones  > WIP <*/
@media (min-width: 480px) and (max-width:567px) and (min-height: 320px) and (max-height:360px)
and (orientation: landscape) {  


  /*----------#intro section---------------*/

  
  .nav > .nav-btn > label {
    margin-left: -40%;
    margin-top: 0%;
  }

  #intro {
    background-size:contain;
    background-position: 0 80px;
  }


  .intro > h1 {
    font-size: calc( 28px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 21px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    line-height:  calc( 28px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    font-weight: 900;
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 0%;
    padding-right: 0%;

    }

    .line-wrapper-1 .line-1 {
        margin-top: -4%;
        padding-bottom: 0.5%;
        font-size: calc( 12px + (6 - 4) * (100vw - 400px) / (800 - 400) );
      }	
    
.line-wrapper-2 .line-2 {
    margin-top: 4.5%;
    height: 20vh;
    font-size: calc( 12px + (6 - 4) * (100vw - 400px) / (800 - 400) );
  }	

  
.section-footer { 
    margin-top: -4%;
  }

  .goto-btn-txt {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc( 6px + (4 - 2) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 4px + (2 - 1) * (100vw - 400px) / (800 - 400) ); /*new*/
  }
  

.spike#spike1 {
    height: 18vh;
    margin-top: 0%;
  }


/*------------#ai-101 section------------*/

.section-header-wrapper {
    height: 22vh;
    margin-top: 0%;
}

.section-heading {
    margin-top: -1%;
    margin-left: 43%;
  }
  
  .section-heading > h1 {
    margin-top: 25%;
    padding: 0%;
  }
  
  .read {
    float: left;
    padding-left: 0.5%;
    letter-spacing: 1.3px;
     }
  
  .author{
  padding-top: 10%;
  }

  .profile-photo img {
    max-width: 45px;
    max-height: 45px;
  }
  
  .audio-player {
      margin-top: 10%;
      margin-left: -32%;
    }
  
  .audio {
      grid-column: 4 / 4;
      grid-row: 1;
     }
   
  #ai-101-audio {
      width: 150px;
      height: 25px;
      border: 2px solid turquoise;
      border-radius:50px;
  }
  
  #ai-101-listen{
    padding-left: 12%;
    letter-spacing: 2.5px;
    }
  
  .section-header-wrapper >.header-img {
      display: none;
  }
  
  /*----------------#ai-101 article------------------*/


  .ai-101-container  p {
    font-size: calc( 10px + (3 - 2) * (100vw - 400px) / (800 - 400) );
    line-height: calc( 10px + (3 - 2) * (100vw - 400px) / (800 - 400) );
    font-weight: 200;
  }

  .ai-101-container h3 {
      text-align: left;
  }

  .ai-101-a {
    margin-top: 1.5%;
  }

  .ai-101-b {
    margin-top: -17%;
    display: flex;
    float: left;
  }

  .ai-101-c {
    margin-top: -17%;
    float: left;
  }


  .ai-101-d {
    margin-top: -14%;
    display: flex;
    float: left;
  } 



  #ml-icon {
    width: 22px;
    margin-top: 35%;
    margin-left: 20%;
  }

  #mimic-icon {
    width: 22px;
    margin-top:  33.5%;
    margin-left: 30%;
  }
  
  #process-icon {
    width: 22px;
    margin-top: 35%;
    margin-left: 38.5%;
  }
  
   #ux-icon {
     width: 18px;
     margin-top: 26%;
     margin-left: 55%;
   }

    #big-data-icon {
      width: 18px;
      margin-top: 15%;
      margin-left: 50%; 
    }

    #bus-mgt-icon {
      width: 20px;
      margin-top: -6%;
      margin-left: 62%;
    }
  
    #op-icon {
      width: 20px;
      margin-top: -4%;
      margin-left: 70%;
    }
   
    #elv-icon {
      width: 20px;
      margin-top: -6%;
      margin-left: 80%;
   }
   
     #growth-icon {
      width: 20px;
      margin-top: -4.5%;    
      margin-left: 90%;
     }
    
       
     .form2-wrapper {
      position: relative;
      margin-top: -20%;
    }

    .image-container {
      display: none;
    }

    #graphical-img {
      display: none;
    }

      /*--------------------#industries section---------------------------------*/


      #header-industries {
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 12%;
        margin-left: -55%;
        }

    #industry-icon {
      display: none;
    }
  
  .grid-template-rows-1 , .grid { 
      grid-template-columns: 238px 238px;
      display:grid;
      position: absolute;
      margin-top: 10%;
    }
    
  .grid-template-rows-1{
      grid-template-rows: 110px 110px;
  }
  
  #healthph, #bankfin, #retailecom, #manufacturing {
    background-size:cover;
    background-position: center;
  }

  .grid-span { 
    font-size: calc( 10px + (4 - 2) * (100vw - 400px) / (800 - 400) );
    line-height: calc( 9px + (3 - 2) * (100vw - 400px) / (800 - 400) ); 
    margin-left: -10%;
  }

  .grid a {
    font-size: calc( 9px + (6 - 3) * (100vw - 400px) / (800 - 400) );
  }
  
  
  #adjust-footer {
    margin-top: 57.5%;
  }
  
  
/*-----------------------pop-up-------------------------------*/


/*-------------------header-----------------------*/


.article-header-wrapper {
  height: 25vh;
}

.article-header-wrapper > .header-img {
  display: none;
  }
  
  
  .article-heading {
    grid-column: 1 / 6;
    white-space: nowrap;
  }

  .article-heading h2 {
    background-color:#0e101f;
    margin-top: -2%;
  }
  
  .article-header-wrapper > .author-pu{
    grid-column: 1 / 4;
    grid-row: 1;
    display: subgrid;
    margin-top: 14%;
    margin-left: 7%;
  }

   .author-pu > .profile-photo img {
    width: 40px;
    height: 40px;
  }

  .article-header-wrapper > .audio {
    grid-column: 4 / 4;
    padding-top: 0%;
    margin-top: 7%;
    margin-left: -7%;
  }
  
   
  .article-header-wrapper  .listen-in{
    padding-left: 14%;
    letter-spacing: 0.5px;
    margin-top: -1%;
  }
  
  .article-audio {
    max-height: 10vh;
    width: 120px;
    border: 1px solid turquoise;
    border-radius:50px;
    }
  
  
    .cancel {
      margin-left: 90%;
      margin-top: -1%;
      font-size: 30px;
      }
  
  
  
  /*-----------article------------*/
  
  .popup-article { 
      margin-top: 3%;
      height: 96%;
      border: 0px;
    }
    
    .popup-article article {
      padding: .5%;
      margin-bottom: 2%;
      height: 66%; /*mq*/
      border-radius: 0px;
    }
  
    .lhs-image-wrapper > img {
      opacity: .3;
      width: 100%;
      height: 100vh;
      margin-left: -.5%;
      margin-top: -.5%;
      border-radius: 0px;
    }
    
    .article-p1 p { 
      position: relative;
      z-index: 30;
      margin-top: 2%;
      padding-left: 1.5%;
      padding-right: 2.5%;
    }
    
    .quote-wrapper {
      position: relative;
      z-index: 40;
      margin-top: 2%;
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  
    .q-caption {
      text-align: center;
      position: relative;
      z-index: 50;
    }
    
    .q-icon {
      width: 46px;
      align-self: center;
      position: relative;
      z-index: 60;
    }
    
    .article-p2 {
      position: relative;
      padding-left: 1.5%;
      padding-right: 2.5%;
      color: black;
      z-index: 70;
  
    }
    
    .article-p2 h3 {
    align-self: center;
    text-align: center;
    position: relative;
    z-index: 80;
    }
    
    .btm-image-wrapper{
      background: transparent;
      position: relative;
      z-index: 90;
      margin-top: 0%; 
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: 7%;
    }

    .btm-image-wrapper img{
      height: 60vh;
    }

    .popup-footer {
      position: relative;
      width: 100%;  
      background:#0e101f;
      height: 5vh;
      z-index: 100;
      display: inline-block;
      margin-top: -20%;
      margin-bottom: 0%;
    }




}

/*====================================================================================================*/