@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400';


*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}


html {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #eee;
  scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	line-height: 1.8;
	padding: 0;
	margin: 0;
  overflow: hidden;
}


/* ===========================================================*/

.wrapper {
	display: grid;
	grid-template: auto 1fr minmax(1rem, auto) auto / 100%;
	min-height: 100vh;
}
  
  .header--inner {  /*heading-2  if you replace the below properties ?*/
    background-color: rgb(18, 42, 49);
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

/*=================================================================*/

nav {
  z-index: 500;
}

.nav-links { 
    background-color: rgb(18, 42, 49);
    position: fixed;
    flex-direction: row;
    width: 100%;
    text-align: end;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    vertical-align:middle;
}


.nav-links a {
  display: inline-block;
  padding: 12px 10px 13px 10px;
  text-decoration: none;
  color: #ccc;
  font-size: calc( 10px + (6 - 4) * (100vw - 400px) / (800 - 400) );   /*new*/
  letter-spacing: calc( 1px + (0.4 - 0.2) * (100vw - 400px) / (800 - 400) )   /*new*/;
  font-weight: 600; /*wip*/
}


.nav > .nav-btn {
  display: none;
}

#ai-logo { 
    position: relative;
    display: flex;
    z-index: 200;
    width:fit-content;
    height: fit-content;
    padding: 4px;
    font-size: calc(16px + (12 - 10) * (100vw - 400px) / (800 - 400) );   /*new*/
    font-weight: 600; /*wip*/
    vertical-align: middle;
    padding: 12px 10px 13px 10px;
}

a { 
    color: white; text-decoration: none; 
    }
    a:hover {
      background-color: rgba(127, 221, 252, 0.3);
      cursor: pointer;
    }
    


/*==========main======*/
.main {
   max-width: 100%;
   max-height: 100vh;
}

/*===================*/

  /* ---------------------->INTRO<----------------------------*/

  .intro {
    background-color: rgb(18, 42, 49);
    background-image: url("/assets/images/intro_img.png");
    background-attachment:fixed;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30px;
    margin: 0;
    padding:0%;
    max-width: 100%;
    width: 100%;
    max-height: 150%;
  }

  .intro h1 {
    color:rgba(18, 42, 49, .8);
    background-color: slategrey;
    vertical-align: middle;
    text-align:center;
    font-weight: 800;
    order: 1;
    padding-top: 1.2%;
    padding-bottom: 1%;
    padding-left: 2.5%;
    font-size: calc( 48px + (22 - 12) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 36px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    line-height:  calc( 52px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    place-self: center; /*new*/
    align-content:space-between;/*new*/
    }



  .line-wrapper-1 .line-1 {
    color: rgba(255,255,255,.75);    font-size: calc( 14px + (24 - 16) * (100vw - 400px) / (800 - 400) );   /*new*/
    font-family: 'Anonymous Pro', monospace;  
    background-color: rgb(25,25,25);
    box-sizing: border-box;
    width: 100%;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    overflow: hidden;
    transform: translateY(-10%);
    margin-top: 0.5%;
    padding-bottom: 0.5%;
    white-space:pre-line;
    text-align: center;
    font-size: calc( 14px + (24 - 16) * (100vw - 400px) / (800 - 400) );   /*new*/
    line-height:  calc( 12px + (24 - 16) * (100vw - 400px) / (800 - 400) ); /*new*/
    height: 10vh; /* mq */
    max-height: 150%;
    order: 2;
    height: 100%;
  }	

  .goto-btn {
  transition: box-shadow 0.5ms ease-in-out, color 0.9ms ease-in-out;
  box-sizing: border-box;
  appearance: none;  
  background-color: rgb(18, 42, 49);
  border: 3px solid;
  border-radius: 0.6em;
  border-color: rgba(67, 242, 224, 1);;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 0.5%;
  padding-right: 0.2%;
  padding-bottom: 0.5%;
  padding-left: 0.6%;
  margin: 0 auto;
  position: relative;
  z-index:2;
  }

  .goto-btn-txt {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc( 10px + (2 - 1) * (100vw - 400px) / (800 - 400) );   /*new*/
    letter-spacing: calc( 5px + (2 - 1) * (100vw - 400px) / (800 - 400) ); /*new*/
  }

.goto-btn:hover {
  filter:saturate(10);
}

.section-footer { 
  width: 100%;
  background: rgb(18, 42, 49,.3);
  justify-content: center; 
  align-items: center;
  z-index:0;
  height: auto; /*mq*/
  order: 3; /*wip*/
  margin-top: -5%;
}

.line-wrapper-2 .line-2 {
  color: rgba(255,255,255,.20);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgba(25,25,25, 0.3);
  box-sizing: border-box;
  border-right: 2px solid rgba(255,255,255,.75);
  overflow: hidden;
  transform: translateY(-50%);
  order: 4;
  font-size: calc( 16px + (4 - 2) * (80vw - 40px) / (800 - 400) );   /*new*/
  word-spacing:  calc( 160px + (80 - 40) * (80vw - 40px) / (800 - 400) ); /*new*/
  height: 4vh; /* mq */
  max-height: 150%;
  min-height: 50%;
  width: 100%;
  max-width: 150%;
  min-width: 50%;
  order: 2;
  height: 100%;
  white-space: pre-line;
  margin-top: 9%;
}	


  /* Typewriter Animation */
  .anim-typewriter{
    animation: typewriter 1s steps(44) 1s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 80%;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  /* spikes animation*/
  .spike {
    position: relative;
    width: 100%;
    background: url("../images/spikes_anim_img.png");
    background-repeat: repeat;
    background-size: 1000px 100px;
  }  

  .spike#spike1 {
    opacity: 0.3;
    animation: animateWaves 100s linear infinite;
    height: 10vh; /*mq*/
    margin-top: 18%; /*mq*/
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  
  
/*==================================================================*/









.footer {
	padding: 1rem;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

.buttons {
	margin-top: 1rem;
}

.button {
	background-color: #ddd;
	border: 1px solid #bbb;
	color: #333;
	padding: .5rem .75rem;
	display: inline-block;
}
	
	.button:hover {
		background-color: #eee;
	}


/*media queries*/

@media (min-width:320px) and (max-width:960px) {
    .wrapper {
        grid-template: 600px 20px auto / 10px repeat(1, minmax(20px,550px)) 1fr;
    }

    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }

    .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }


    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      } 

    .nav-links > a {
        padding: 4px 2px 4px 2px;
        display: block;
        width: 100%;
      }

    #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }

    #nav-check:checked ~ .nav-links {
        height: calc(50vh - 10px);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        text-align: center;
        margin-top: 10%;
        padding-top: 2%;
      }

    .header--inner {
        background-color: rgb(18, 42, 49);
		position:fixed;
        flex-direction: row;
		width: 100%;
		height: 50px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
    
    a { 
    color: white; text-decoration: none; 
    }


    .main {
        margin-top: 10%;
    }

        .footer {
		grid-column:span 8;
	}

}